.container {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.container iframe {
    width: 55%;
    height: 300px;
}

.benefits-container {
    width: 40%;
}

.benefits-title {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 1rem;

}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.benefits-item {
    list-style: none;
    font-size: .8rem;
    color: rgb(54, 54, 54);

}

.item-title {
    font-weight: bold;
    margin-left: -1.6rem;
    display: flex;
    align-items: center;
    gap: .2rem;

}

.item-icon {
    font-size: 1.3rem;
    color: #2d4ec3;
}

@media (max-width: 675px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .benefits-container {
        width: 70%;
    }

    .container iframe {
        width: 90%;
        height: 300px;
    }
}

@media (max-width: 450px) {
    .container iframe {
        width: 90%;
        height: 200px;
    }
}